//#stars-outer {
//  display: inline-block;
//  position: relative;
//  font-family: FontAwesome;
//}
//
//#stars-outer::before {
//  content: "\f006 \f006 \f006 \f006 \f006";
//}
//#stars-inner {
//  position: absolute;
//  top: 0;
//  left: 0;
//  white-space: nowrap;
//  overflow: hidden;
//  width: 55%;
//  content: "\f005 \f005 \f005 \f005 \f005";
//  color: #f8ce0b;
//}
//#stars-inner::before {
//  content: "\f005 \f005 \f005 \f005 \f005";
//  color: #f8ce0b;
//}
.star {
  position: relative;
  display: inline-block;
  font-size: 30px;
}

.star-under {
  color: #ddd;
}

.star-over {
  color: #f80;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.star-visible {
  display: inline-block;
}